icehockeyWA/icehockeyWA/Service References/IceIceBaby/IceWAService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IceWAService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IceWAService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TempGameDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="_awayManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="_awayManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_awayTeamID" type="xs:int" />
      <xs:element minOccurs="0" name="_homeManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="_homeManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_homeTeamID" type="xs:int" />
      <xs:element minOccurs="0" name="_linesman1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_linesman2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ringading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="awayManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="awayManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="awayTeamID" type="xs:int" />
      <xs:element minOccurs="0" name="homeManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="homeManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="homeTeamID" type="xs:int" />
      <xs:element minOccurs="0" name="linesman1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linesman2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ringading" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TempGameDetails" nillable="true" type="tns:TempGameDetails" />
  <xs:complexType name="ArrayOfTempGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempGame" nillable="true" type="tns:TempGame" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempGame" nillable="true" type="tns:ArrayOfTempGame" />
  <xs:complexType name="TempGame">
    <xs:sequence>
      <xs:element minOccurs="0" name="_awayTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_gameID" type="xs:int" />
      <xs:element minOccurs="0" name="_homeTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_venue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="awayTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameID" type="xs:int" />
      <xs:element minOccurs="0" name="homeTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isfucked" type="xs:boolean" />
      <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="venue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TempGame" nillable="true" type="tns:TempGame" />
  <xs:complexType name="ArrayOfTempPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempPlayer" nillable="true" type="tns:TempPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempPlayer" nillable="true" type="tns:ArrayOfTempPlayer" />
  <xs:complexType name="TempPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="_playerID" type="xs:int" />
      <xs:element minOccurs="0" name="_playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_playerNumber" type="xs:int" />
      <xs:element minOccurs="0" name="playerID" type="xs:int" />
      <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="playerNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TempPlayer" nillable="true" type="tns:TempPlayer" />
  <xs:complexType name="ArrayOfTempGoal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempGoal" nillable="true" type="tns:TempGoal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempGoal" nillable="true" type="tns:ArrayOfTempGoal" />
  <xs:complexType name="TempGoal">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Event">
        <xs:sequence>
          <xs:element minOccurs="0" name="assist1Player" type="xs:int" />
          <xs:element minOccurs="0" name="assist2Player" type="xs:int" />
          <xs:element minOccurs="0" name="gameID" type="xs:int" />
          <xs:element minOccurs="0" name="goalID" type="xs:int" />
          <xs:element minOccurs="0" name="penaltyShootout" type="xs:boolean" />
          <xs:element minOccurs="0" name="playerID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TempGoal" nillable="true" type="tns:TempGoal" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="eventID" type="xs:int" />
      <xs:element minOccurs="0" name="eventTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="teamID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfTempPenalty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TempPenalty" nillable="true" type="tns:TempPenalty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTempPenalty" nillable="true" type="tns:ArrayOfTempPenalty" />
  <xs:complexType name="TempPenalty">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Event">
        <xs:sequence>
          <xs:element minOccurs="0" name="gameID" type="xs:int" />
          <xs:element minOccurs="0" name="minutes" type="xs:int" />
          <xs:element minOccurs="0" name="offence" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="penaltyID" type="xs:int" />
          <xs:element minOccurs="0" name="penaltyShootout" type="xs:boolean" />
          <xs:element minOccurs="0" name="playerID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TempPenalty" nillable="true" type="tns:TempPenalty" />
</xs:schema>