icehockeyWA/icehockeyWA/Service References/IceIceBaby/IceWAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://student.mydesign.central.wa.edu.au/IceWA_Virtual/IceWAService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://student.mydesign.central.wa.edu.au/IceWA_Virtual/IceWAService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IceWAService" />
  <xs:element name="returnTeams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="div" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnTeamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="returnTeamsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDivisions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDivisionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDivisionsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnGameDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnGameDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IceWAService" minOccurs="0" name="returnGameDetailsResult" nillable="true" type="q3:TempGameDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="division" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IceWAService" minOccurs="0" name="returnScheduleResult" nillable="true" type="q4:ArrayOfTempGame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="returnPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IceWAService" minOccurs="0" name="returnPlayersResult" nillable="true" type="q5:ArrayOfTempPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IceWAService" minOccurs="0" name="searchPlayersResult" nillable="true" type="q6:ArrayOfTempPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element minOccurs="0" name="teamID" type="xs:int" />
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playass1ID" type="xs:int" />
        <xs:element minOccurs="0" name="playass2ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addGoalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPenalty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element minOccurs="0" name="teamID" type="xs:int" />
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
        <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Offence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeGiven" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPenaltyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPenaltyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>